.joke-box {
    background-color: rgb(158, 97, 158);
    border-radius: 12px;
    box-shadow: 8px 8px 6px purple;
    padding: 7px;
    margin-bottom: 24px;
}

.line-container {
    width: 100%;
}

.line {
    font-size: 20px;
}

.punchline {
    font-size: 10px;
}